[package]
name = "debian-watch"
version = "0.2.13"
authors = [ "Jelmer Vernooij <jelmer@jelmer.uk>",]
edition = "2021"
license = "Apache-2.0"
description = "parser for Debian watch files"
repository = "https://github.com/jelmer/debian-watch-rs.git"
homepage = "https://github.com/jelmer/debian-watch-rs"

[dependencies]
rowan = "0.16.1"
m_lexer = "0.0.4"
debversion = ">=0.4.7, <0.6"
url = "2.5.7"
regex = "1"

[dev-dependencies]
maplit = "1.0.2"
