[package]
name = "debian-watch"
version = "0.2.9"
authors = [ "Jelmer Vernooij <jelmer@jelmer.uk>",]
edition = "2021"
license = "Apache-2.0"
description = "parser for Debian watch files"
repository = "https://github.com/jelmer/debian-watch-rs.git"
homepage = "https://github.com/jelmer/debian-watch-rs"

[dependencies]
rowan = "0.16"
m_lexer = "0.0.4"
debversion = ">=0.4.7, <0.6"
url = "2.5.7"
deb822-lossless = "0.4.1"
clap = { version = "4.5", features = ["derive"] }

[dev-dependencies]
maplit = "1.0.2"
